<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                    <a href="#">
                        <img src="img/logos/SKRI.jpg" width="19%" alt="SickKids Research Institute">
                    </a>
                    <a href="#">
                        <img src="img/logos/pmcc.svg" width="19%" alt="Princess Margaret Cancer Centre">
                    </a>
                    <a href="#">
                        <img src="img/logos/c3g.jpg" width="19%" alt="Canadian Centre for Computational Genomics">
                    </a>
                    <a href="#">
                        <img src="img/logos/McGill.png" width="19%" alt="McGill University">
                    </a>
                    <a href="#">
                        <img src="img/logos/bcgsc.png" width="19%" alt="BC Genome Sciences Centre">
                    </a>
            </div>
        </div>
    </aside>
