<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <!--
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/HPC4Health_Logo.png" class="img-responsive img-centered" alt="HPC4Health">
                    </a>
                </div>
                -->
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/SKRI.jpg" class="img-responsive img-centered" alt="SickKids Research Institute">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/pmgclogo_lightbox.jpg" class="img-responsive img-centered" alt="Princess Margaret Genomics Centre">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Genome-Quebec-Eng-logo1.png" class="img-responsive img-centered" alt="McGill University/Genome Québec Innovation Centre">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/bcgsc.png" class="img-responsive img-centered" alt="BC Genome Sciences Centre">
                    </a>
                </div>
            </div>
        </div>
    </aside>
