<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Why of CanDIG</h2>
                    <h3 class="section-subheading text-muted">CanDIG is a Canadian solution to analysis of health data.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distributed</h4>
                    <p class="text-muted">CanDIG is built to be completely distributed.  Each data provider handles their own data and users,
                    with complete control over who can access each data set and how much, with federated analysis built on top of APIs to this 
                    data, so that data can be analyzed without being copied.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-id-badge  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Secure and Private</h4>
                    <p class="text-muted">CanDIG is private by design, with differential privacy built into the project from the very beginning so that data sets can be analyzed without exposing 
                    sensitive individual data.  It uses modern authentication and authorization technologies like OpenID Connect and UMA to provide secured API-based access to data.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enabling Health Research</h4>
                    <p class="text-muted">By allowing researchers at participating sites to analyze national-scale data while keeping data private and under local control,
                    we will enable new, Canadian-scale research programs, one-stop discovery of genomics data, and an "App Store" of .</p>
                </div>
            </div>
        </div>
            <p align="center"> Want to find out more about our architecture?  <a href="architecture.html">Click Here</a>.</p>
    </section>
