<!-- Team Section -->
<h3>Implementation</h3>
<div class="row display-flex">
    {% assign implementation = site.data.team.people | where:"team","implementation" | sort:"lastname"%}
    {% for member in implementation %}
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
            <h4>{{ member.name }}</h4>
            <p class="text-muted">{{ member.position }}</p>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li>
                    <a href="{{ network.url }}">
                        <i class="fa fa-{{ network.title }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Leadership</h3>
<div class="row display-flex">
    {% assign leadership = site.data.team.people | where:"team","leadership" | sort:"lastname" %}
    {% for member in leadership %}
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
            <h4>{{ member.name }}</h4>
            <p class="text-muted">{{ member.position }}</p>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li>
                    <a href="{{ network.url }}">
                        <i class="fa fa-{{ network.title }}"></i>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Recent Alumni</h3>

<div class="row display-flex">
    {% assign alumni = site.data.team.people | where:"team","recent_alumni" | sort:"lastname" %}
    {% for member in alumni %}
    <div class="col-sm-4">
        <div class="team-member">
            <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
            <h4>{{ member.name }}</h4>
            <p class="text-muted">{{ member.position }}</p>
            <ul class="list-inline social-buttons">
                {% for network in member.social %}
                <li>
                    <a href="{{ network.url }}">
                        <i class="fa fa-{{ network.title }}"></i>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    {% endfor %}
</div>

